# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

Lists of Languages ,
List of Libraries ,
Lists of Data Science Tools


   Some of the commonly used languages used by Data Scientists include:

1. **PYTHON**
2. **R**
3. **SQL**

Some of the commonly used libraries used by Data Scientists include:
1. **Numpy**
2. **Pandas**
3. **Matplotlib**.

|Data Science Tools |
|-------------------|
|Jupyter Notebook|
|Rstudio|
|Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

## Author

LISA